.a{
	visibility: visible;
	background : url("images/paper.jpg");	
}

.b{
	visibility: hidden;
}

.img{
	position: relative;
}

.platter{
	position: absolute
}

.right{
		float : right;
		background : url("images/paper.jpg");
		position : relative;
		visibility : hidden;
}

.left{
	
	float : left;
	
}

.title{
	visibility : visible;
	text-align: center;
	text-decoration: underline;
	background : beige
}

